*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(122, 116, 110);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-right ul li{
    display: inline-block;
    margin: 0 15px;
    list-style: none;
}
.nav-right ul li a{
    text-decoration: none;
    color: #333;
    transition: all 1.5s ease-in-out;
    padding: 10px 15px;
}
.nav-right ul li a:hover{
    background-color: rgb(33, 192, 33);
    color: #fff;
    border-radius: 40px;
}
/* main */
.bg-main{
    background-image: url(img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px 0;
}
.main-text{
    color: #fff;
    width: 50%;
}
.main-text h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.main-text p{
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 30px;
}
.btn-blue{
    background-color: rgb(0, 112, 163);
    color: #fff;
    padding: 10px 25px;
    border: none;
    font-size: 20px;
    transition: 1s;
}
.btn-blue:hover{
    background-color: red;
    color: #000;
    border-radius: 25px;
}
/* content */
.content-name h1{
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.content-text i{
    color: rgb(0, 112, 163);
}
.content-text i:hover{
    color: #111;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    line-height: 27px;
    margin-bottom: 120px;
}
.content-text{
    width: 30%;
}
.content-text h1{
    margin: 25px 0;
}
.content-text p{
    margin-bottom: 25px;
}
/* cards */
.cards-name h1{
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 40px;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 25px;
}
.card{
    width: 30%;
}
.card-img img{
    width: 100%;
    height: 300px;
}
.card h1{
    font-size: 30px;
    margin: 15px 0;
}
.card p{
    margin: 10px 0 20px 0;
    line-height: 25px;
}
/* footer */
.footer-img{
    background-image: url(img/bg-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 90px;
}
.footer-bg{
    background-color: rgba(255, 255, 255, 0.336);
}
.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 160px;
    padding-bottom: 40px;
    align-items: center;
}
.footer-left, .footer-right{
    width: 47%;
}
.footer-left img{
    width: 100%;
    height: auto;
}
.footer-right h1{
    font-size: 65px;
    margin-bottom: 20px;
}
.footer-right p{
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}